.examplediv {
  border-color: var(--yellow);
}

h2 {
  color: var(--yellow);
  margin: 0;
}

.songlist {
  display: flex;
  flex-direction: column;
  max-height: 20em;
  overflow: scroll;
  border-style: solid;
  border-width: calc(var(--defaultMargin) / 3);
  border-color: var(--cyan);
}

.song {
  margin: var(--defaultMargin);
  display: flex;
  flex-direction: row;
  gap: var(--defaultMargin);
}

.search {
  padding: var(--defaultMargin);
  border-color: var(--yellow);
  border-style: solid;
  border-width: calc(var(--defaultMargin) / 3);
}

.songtitle {
  display: flex;
  flex-direction: column;
  align-content: center;
}

ng-icon {
  font-size: 2.4em;
}

.searchbar {
  display: flex;
  align-items: center;
  border-style: solid;
  border-color: var(--cyan);
  border-width: calc(var(--defaultMargin) / 3);
}

.searchbar > input[type="text"]:disabled {
  flex-grow: 1;
}

.borked {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--red);
}

a {
  color: var(--white);
}
