section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

a {
  color: var(--white);
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: horizontal;
}

h1 {
  color: var(--black);
  font-size: 8em;
  text-align: center;
  line-break: anywhere;
}

h2 {
  text-align: center;
  color: var(--white);
  background-color: var(--black);
}

.subtitlediv {
  background-color: var(--black);
  padding: 2em;
}
