section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

a {
  color: var(--black);
}

h1 {
  color: var(--black);
  font-size: 4em;
  text-align: center;
}

h2 {
  font-size: 2em;
  text-align: center;
  color: var(--white);
  background-color: var(--black);
}

.linkbox {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 1em;
}
