input[type="range"] {
  width: 100%;
  cursor: pointer;
  margin-top: var(--defaultMargin);
  margin-bottom: var(--defaultMargin);
}

input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--cyan);
  height: calc(var(--defaultMargin) / 3);
}

input[type="range"]::-webkit-slider-runnable-track:hover {
  background: var(--red);
}

input[type="range"]::-moz-range-track {
  background: var(--cyan);
  height: calc(var(--defaultMargin) / 3);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: calc(var(--defaultMargin) * 2);
  width: calc(var(--defaultMargin) * 2);
  background: var(--black);
  border: calc(var(--defaultMargin) / 3) solid var(--cyan);
  border-radius: 100%;
  margin-top: calc(
    calc(var(--defaultMargin) * -1) + calc(calc(var(--defaultMargin) / 3) / 2)
  );
}

input[type="range"]::-webkit-slider-thumb:hover {
  border-color: var(--red);
  background-color: var(--white);
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: calc(var(--defaultMargin) * 2);
  width: calc(var(--defaultMargin) * 2);
  background: var(--black);
  border: calc(var(--defaultMargin) / 3) solid var(--cyan);
  border-radius: 100%;
  margin-top: calc(
    calc(var(--defaultMargin) * -1) + calc(calc(var(--defaultMargin) / 3) / 2)
  );
}
