@import "slider.scss";

:root {
  --defaultMargin: 1em;
  --white: #d8dcb4;
  --black: #381631;
  --red: #e21c61;
  --orange: #e26159;
  --yellow: #fea85f;
  --cyan: #5eb6ad;
  --green: #1b958d;
  --blue: #105390;
}

@font-face {
  font-family: "Atkinson";
  src: url("./assets/atkinson_regular.woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Atkinson";
  src: url("./assets/atkinson_bold.woff2");
  font-weight: bold;
}

html {
  min-height: 100vh;
  font-family: "Atkinson";
}

p {
  line-height: 2;
}

body {
  margin: 0;
  background-color: var(--white);
}

section {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.grow,
button {
  transition: all 0.24s ease-in-out;
}

.grow:hover,
button:hover {
  transform: scale(1.125);
  transform-origin: center;
}

h2 {
  font-size: 3em;
}

a {
  text-decoration: underline;
  text-decoration-color: var(--cyan) !important;
  display: inline-flex;
  justify-content: center;
  flex-direction: horizontal;
  align-items: center;
  text-decoration-thickness: calc(var(--defaultMargin) / 3) !important;
}

a:hover {
  text-decoration-color: var(--red) !important;
}

a.grow {
  text-decoration: none !important;
}

button {
  border-radius: 0%;
  border-style: solid;
  background-color: var(--black);
  color: var(--white);
  border-color: var(--cyan);
  border-width: calc(var(--defaultMargin) / 3);
  cursor: pointer;
  padding: var(--defaultMargin);
  display: flex;
  align-items: center;
  font-family: "Atkinson";
}

input[type="text"] {
  cursor: text;
  border-color: var(--cyan);
  padding: var(--defaultMargin);
  background-color: var(--white);
  border-style: solid;
  border-width: calc(var(--defaultMargin) / 3);
  color: var(--black);
  font-family: "Atkinson";
}

input[type="text"]:disabled {
  border-color: var(--blue);
  color: var(--blue);
  cursor: not-allowed;
  background-color: var(--green);
}

button.active {
  border-color: var(--red);
}

button.active::before {
  content: "✓";
}

button:hover {
  border-color: var(--red);
}

.buttonbox {
  display: flex;
  gap: var(--defaultMargin);
  flex-wrap: wrap;
}

u {
  text-decoration-line: underline;
  text-decoration-style: double;
  text-decoration-color: var(--orange);
  text-decoration-thickness: calc(var(--defaultMargin) / 3);
}

.examplediv {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  color: var(--white);
  padding: var(--defaultMargin);
  border-style: solid;
  border-width: var(--defaultMargin);
}

select {
  padding: var(--defaultMargin);
  border-style: solid;
  border-color: var(--cyan);
  border-width: calc(var(--defaultMargin) / 3);
  background-color: var(--black);
  color: var(--white);
  font-family: "Atkinson";
  cursor: pointer;
}

select:hover {
  border-color: var(--red);
}
