:root {
  --defaultMargin: 1em;
  --white: #d8dcb4;
  --black: #381631;
  --red: #e21c61;
  --orange: #e26159;
  --yellow: #fea85f;
  --cyan: #5eb6ad;
  --green: #1b958d;
  --blue: #105390;
}

@font-face {
  font-family: "Atkinson";
  src: url("./assets/atkinson_regular.woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Atkinson";
  src: url("./assets/atkinson_bold.woff2");
  font-weight: bold;
}

html {
  min-height: 100vh;
  scroll-snap-type: y proximity;
  font-family: "Atkinson";
}

body {
  margin: 0;
  background-color: var(--white);
}

section {
  min-height: 100vh;
  scroll-snap-align: start;
}

.grow {
  transition: all 0.24s ease-in-out;
}
.grow:hover {
  transform: scale(1.125);
  transform-origin: center;
}

.examplediv {
}

h2 {
  font-size: 3em;
}

a {
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  flex-direction: horizontal;
  align-items: center;
}
